

<div class="contactUs" id="contactUs">
    <ul>
      <li class="contactUs-listItem">
        <a href="#"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="contactUs-listItem">
        <a href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li class="contactUs-listItem">
        <a href="#"><i class="fab fa-facebook"></i></a>
      </li>
      <li class="contactUs-listItem">
        <a href="#"><i class="fas fa-phone"></i>
      </li></a>
    </ul>
  </div>