<div class="navigation">
  <div class="logo">
    <div class="inner_logo">
      <img src="img/logo.png" alt="" />
      <h3 class="logo_title">Electrifying</h3>
    </div>
    <form method="get" class="name">
      <a href="user-profile" id="link"
        ><p>Go To <span><%- account.name %></span></p></a
      >
    </form>
  </div>

  <div class="nav_list">
    <ul>
      <li class="list_item">
        <a href="home">Home </a>
      </li>
      <li class="list_item"><a href="aboutus">About</a></li>
      <li class="list_item"><a href="products">Products</a></li>
    </ul>
  </div>
</div>
